<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginRegister"
        tools:targetApi="31">

        <service
            android:name="com.example.AplicatieCM.MyService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name="com.example.AplicatieCM.ListaProduseActivity"
            android:exported="false"
            android:label="Products List">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.AplicatieCM.ProduseActivity"
            android:exported="false"
            android:label="Products Page">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.AplicatieCM.Register"
            android:exported="false"
            android:label="Register Page">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.AplicatieCM.LoginActivity"
            android:exported="true"
            android:label="Login Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>